$font-stack: Helvetica, sans-serif;

.about {
  margin: 5vw;
  h2{
    font-size: 9vw;
    margin-bottom: 5vw;
    font-family: $font-stack;
  }

  img {
    float: left;
    height: 30vw;
    width: 30vw;
    margin-right: 2vw;
  }

  p {
    font-size: 5vw;
    margin-bottom: 5vw;
    font-family: $font-stack;
  }


}
