$font-stack: 'Telex', sans-serif;

.about {
  margin: 3vw;
  h2 {
    font-size: 5vw;
    margin-bottom: 3vw;
    font-family: $font-stack;
  }

  .about-container {
    width: 100%;
    height: 32vw;
  }

  img {
    float: left;
    height: 30vw;
    width: 30vw;
    margin-right: 2vw;
  }

  h3 {
    font-size: 3.5vw;
    margin-bottom: 2vw;
    font-family: $font-stack;
  }

  p {
    font-size: 2.3vw;
    font-family: $font-stack;
  }
}
