$font-stack: Helvetica, sans-serif;

.about {
  margin: 5vw;
  h2{
    font-size: 5vw;
    margin-bottom: 5vw;
    font-family: $font-stack;
  }

  img {
    float: left;
    height: 30vw;
    width: 30vw;
    margin-right: 2vw;
  }

  h3{
    font-size: 4vw;
    margin-bottom: 3vw;
    font-family: $font-stack;
  }

  p {
    font-size: 3vw;
    margin-bottom: 3vw;
    font-family: $font-stack;
  }

  // p:after {
  // clear: both;
  // }
}
