$font-stack: Helvetica, sans-serif;
$primary-color: #444;
$secondary-color: #777;
$tertiary-color: white;
$fourth-color: black;
$fifth-color: #1E87E8;

*{
  font-family: $font-stack;
}

h2{
  font-size: 7vw;
  margin-bottom: 1vw;
}

footer {
  height: 200px;
  background-color: $primary-color;
  margin-top: 30px;
}

footer p  {
  margin-left: 5vw;
  padding-top: 4vw;
  color: $tertiary-color;
  }
