$font-stack: Helvetica, sans-serif;
$primary-color: #444;
$secondary-color: #777;
$tertiary-color: white;
$fourth-color: black;

.entries{
  margin: 3vw;

  h2{
    font-size: 5vw;
    margin-bottom: 1vw;
    font-family: $font-stack;
  }

  input{
    font-size: 2vw;
    width: 40vw;
    padding: 1vw;
    outline: none;
    background: $primary-color;
    border: none;
  }

  input::-webkit-input-placeholder {
    color: $tertiary-color;
  }

  input:focus{
    color: $tertiary-color;
  }

  #get_weather {
    font-size: 2vw;
    border: none;
    padding: 1vw 2vh;
    background: #000;
    color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
  }
}
