$font-stack: Helvetica, sans-serif;
$primary-color: #444;
$secondary-color: #777;
$tertiary-color: white;
$fourth-color: black;

header{
  position: relative;
  max-width: 100%;

  width: 100%;
  background: $primary-color;
  height: 20vw;
  color: $secondary-color;

  img{
    float: left;
    width: 18vw;
    // margin-top: 5vw;
    margin-right: 0vw;
    margin-left: 3vw;
    margin-top: 0vw;
  }

  h1{
    float: left;
    width: 20vw;
    font-size: 5vw;
    font-family: $font-stack;
    margin-top: 5vw;
    color: $tertiary-color;
  }

  .icon-menu {
    position:absolute;
    top: 25%;
    right:2%;
  }

  .main-nav{
    float: right;
    margin-top: 5vw;
    margin-right: 3vw;
    position: relative;
    width: 100%;
  }

  div {
    font-size: 10vw;
  }

  .menu {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $primary-color;
    color: $secondary-color;
    display: none;
    width: 100%;
  }

  .display-nav{
    position: fixed;
    top: 20vw;
    left: 0;
    z-index: 99;
    width: 100%;
    background: $primary-color;
    height: 100vh;
  }


  .display-nav li a {
    float: left;
    width: 100%;
    text-align: center;
    color: $tertiary-color;
    font-size: 10vw;
    border: 1px solid white;
    padding: 5vw 0;
  }

  li{
    list-style: none;
  }

  li a{
    color: white;
    text-decoration: none;
  }

}

.hidden{
  height: 100vw;
  overflow: hidden;
}
