.contact-us{
  h3{
    font-size: 5vw;
    margin-bottom: 2vw;
    margin-left: 2%;
  }

  input, textarea{
    font-size: 4vw;
    color: $tertiary-color;
    border: 1px solid $tertiary-color;
    background: $secondary-color;
    width: 96%;
    margin:0 2% 2vw 2%;
  }

  input:focus, textarea:focus{
    color: $fourth-color;
    box-shadow: 0 0 5px $fifth-color;
    border: 1px solid $fifth-color;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: $tertiary-color;
  }

  textarea{
    height: 20vw;
    overflow: auto;
    resize: none;
    width: 95.25%;
  }

  button{
    margin-left: 2%;
    font-size: 4vw;
    border: none;
    padding: 2vw 3vh;
    background: $primary-color;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
}
