$font-stack: Helvetica, sans-serif;
$primary-color: #444;
$secondary-color: #777;
$tertiary-color: white;
$fourth-color: black;

@media only screen and (min-width: 640px) {
  main {
    max-width: 960px;
    margin: 0 auto;
  }
}
